  <div class="index">

      <% @posts.each do |post| %>
      <table>
        <tr>
          <td class="img">
            <%= link_to posts_path(post) do %>
            <%= image_tag post.image, size: "200x200" %>
            <% end %>
            <br>
            <div class="tag-box">
               <% post.tags.each do |tag| %>
                <span class="label"><%= tag.name %></span>
              <% end %>
            </end>
            </div>
          </td>

          <td class="text">
            <p>タイトル：<%= post.title %></p>
            <br>
            <p>内容：<%= post.body %></p>
            <br>
            <%= link_to "削除", destroy_post_path(post.id), method: :delete %>
            <%= link_to "TOP", top_path %>
          </td>
        </tr>
      </table>
      <% end %>
  </div>




